.episode-wrap {
    position: relative;
    display: flex;
    height: 80vh;
    width: 100%;
    background: #545454;
}

.episode-title,
.episode-blurb,
.episode-quote {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.slider {
    height: 80vh;
}
